@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-dark: #443e53;
  --neutral-n-10: #ffffff;
  --neutral-n-30: #f5f5f5;
  --neutral-n-40: #e0e0e0;
  --neutral-n-50: #cfd1d4;
  --neutral-n-60: #afb2b7;
  --neutral-n-70: #878b93;
  --neutral-n-80: #606570;
  --neutral-n-90: #383f4c;
  --neutral-n-100: #101828;
  --neutral-n-700: #616161;

  --primary: #1f40ae;
  --primary-p-50: #4460bb;
}

@layer utilities {
  /* text color */
  .text-primary {
    color: var(--primary);
  }
  .text-primary-p-50 {
    color: var(--primary-p-50);
  }
  .text-neutral-dark {
    color: var(--neutral-dark);
  }
  .text-neutral-n-10 {
    color: var(--neutral-n-10);
  }
  .text-neutral-n-50 {
    color: var(--neutral-n-50);
  }
  .text-neutral-n-60 {
    color: var(--neutral-n-60);
  }
  .text-neutral-n-70 {
    color: var(--neutral-n-70);
  }
  .text-neutral-n-80 {
    color: var(--neutral-n-80);
  }
  .text-neutral-n-90 {
    color: var(--neutral-n-90);
  }
  .text-neutral-n-100 {
    color: var(--neutral-n-100);
  }
  .text-neutral-n-700 {
    color: var(--neutral-n-700);
  }

  /* background color */
  .bg-primary {
    background-color: var(--primary);
  }
  .bg-neutral-n-10 {
    background-color: var(--neutral-n-10);
  }
  .bg-neutral-n-30 {
    background-color: var(--neutral-n-30);
  }
  .bg-neutral-n-40 {
    background-color: var(--neutral-n-40);
  }
  .bg-neutral-n-50 {
    background-color: var(--neutral-n-50);
  }
  .bg-neutral-n-90 {
    background-color: var(--neutral-n-90);
  }

  /* buttons */
  .btn-primary {
    border-radius: 6px;
    background-color: var(--primary);
  }

  .btn-border-primary {
    border-radius: 6px;
    border: 1px solid var(--primary);
    color: var(--primary);
  }

  .btn-border-n-40 {
    border-radius: 6px;
    border: 1px solid var(--neutral-n-40);
  }
}
