@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

:root {
  --neutral-dark: #443e53;
  --neutral-n-10: #ffffff;
  --neutral-n-30: #f5f5f5;
  --neutral-n-40: #e0e0e0;
  --neutral-n-50: #cfd1d4;
  --neutral-n-60: #afb2b7;
  --neutral-n-70: #878b93;
  --neutral-n-80: #606570;
  --neutral-n-90: #383f4c;
  --neutral-n-100: #101828;
  --neutral-n-700: #616161;

  --base-02: #090914;

  --primary: #1f40ae;
  --primary-p-40: #6a80c9;
  --primary-p-50: #4460bb;
  --primary-p-80: #152b74;
}

@layer utilities {
  /* text color */
  .text-primary {
    color: var(--primary);
  }
  .text-primary-p-40 {
    color: var(--primary-p-40);
  }
  .text-primary-p-50 {
    color: var(--primary-p-50);
  }
  .text-primary-p-80 {
    color: var(--primary-p-80);
  }
  .text-neutral-dark {
    color: var(--neutral-dark);
  }
  .text-neutral-n-10 {
    color: var(--neutral-n-10);
  }
  .text-neutral-n-30 {
    color: var(--neutral-n-30);
  }
  .text-neutral-n-50 {
    color: var(--neutral-n-50);
  }
  .text-neutral-n-60 {
    color: var(--neutral-n-60);
  }
  .text-neutral-n-70 {
    color: var(--neutral-n-70);
  }
  .text-neutral-n-80 {
    color: var(--neutral-n-80);
  }
  .text-neutral-n-90 {
    color: var(--neutral-n-90);
  }
  .text-neutral-n-100 {
    color: var(--neutral-n-100);
  }
  .text-neutral-n-700 {
    color: var(--neutral-n-700);
  }
  .text-base-02 {
    color: var(--base-02);
  }
  .text-ntp {
    background: linear-gradient(
      180deg,
      rgba(237, 239, 247, 0.7) 30.38%,
      rgba(237, 239, 247, 0) 88.33%
    );
  }

  /* background color */
  .bg-primary {
    background-color: var(--primary);
  }
  .bg-neutral-n-10 {
    background-color: var(--neutral-n-10);
  }
  .bg-neutral-n-30 {
    background-color: var(--neutral-n-30);
  }
  .bg-neutral-n-40 {
    background-color: var(--neutral-n-40);
  }
  .bg-neutral-n-50 {
    background-color: var(--neutral-n-50);
  }
  .bg-neutral-n-90 {
    background-color: var(--neutral-n-90);
  }
  .bg-diamond-gradient {
    background: radial-gradient(
      100% 167.42% at 20.24% 0%,
      #152b74 0%,
      #06003a 100%
    );
  }
  .bg-grad {
    background: linear-gradient(180deg, #1f40ae 0%, #152b74 100%);
  }
  .bg-feature-sm {
    background: linear-gradient(90deg, #d3daf0 0%, rgba(211, 218, 240, 0) 100%);
  }
  .bg-any-business {
    background: linear-gradient(180deg, #ffffff 0%, #edeff7 100%);
  }

  /* buttons */
  .btn-primary {
    border-radius: 6px;
    background-color: var(--primary);
  }

  .btn-primary-40 {
    background-color: var(--primary-p-40);
  }

  .btn-primary-50 {
    background-color: var(--primary-p-50);
  }

  .btn-border-primary {
    border-radius: 6px;
    border: 1px solid var(--primary);
    color: var(--primary);
  }

  .btn-border-n-40 {
    border-radius: 6px;
    border: 1px solid var(--neutral-n-40);
  }
}

/* image slider */
.home.scroller {
  animation-duration: calc(
    var(--scrolling-gallery-item-duration, 1s) /
      var(--scrolling-gallery-items-visible) *
      var(--scrolling-gallery-items-total)
  );
  animation-timing-function: linear;
  animation-name: scrolling-gallery;
  animation-iteration-count: infinite;
  display: flex;
  white-space: nowrap;
}

.scroller {
  animation-duration: calc(
    var(--scrolling-gallery-item-duration, 1s) /
      var(--scrolling-gallery-items-visible) *
      var(--scrolling-gallery-items-total)
  );
  animation-timing-function: linear;
  animation-name: scrolling-gallery;
  animation-iteration-count: infinite;
  display: flex;
  align-items: end;
}

.scroller__container {
  width: 100vw;
}

.scroller__item {
  flex: 1 0 calc(100% / var(--scrolling-gallery-items-visible));
  width: 0px;
  box-sizing: border-box;
  padding: 0.5em;
}

.scroller__item.special {
  flex: 1 0 auto;
  width: auto;
  box-sizing: border-box;
  padding: 0.5em;
}

.scroller img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@keyframes scrolling-gallery {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(
        var(--scrolling-gallery-items-total) * -100vw /
          var(--scrolling-gallery-items-visible)
      )
    );
  }
}

/* scroll horizontal home */
.scroll-horizontal {
  scroll-behavior: smooth;
}

.scroll-horizontal ::-webkit-scrollbar {
  height: 10px;
  background: white;
}

.scroll-horizontal ::-webkit-scrollbar-track {
  margin: 0 700px;
  width: 10px;
  height: 50px;
}

.scroll-horizontal ::-webkit-scrollbar-track-piece {
  background: #e0e0e0;
  border-radius: 20px;
}

.scroll-horizontal ::-webkit-scrollbar-thumb:horizontal {
  background: #1f40ae;
  border-radius: 10px;
}

/* border bottom animation */
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--primary);
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
}

/* image zoom */
.img-hover-zoom {
  height: 320px;
  overflow: hidden;
}

.img-hover-zoom img {
  border-radius: 8px;
  transform-origin: 50% 51%;
  transition: transform 1s, filter 1s ease-in-out;
}

.img-hover-zoom:hover img {
  border-radius: 8px;
  transform: scale(1.04);
}

.clip {
  clip-path: url("/public/products/crm/bg-engagement.svg");
  /* clip-path: polygon(
    626px 463px,
    765px 236px,
    687px 31px,
    271px 100px,
    70px 10px,
    49px 250px,
    133px 406px,
    374px 462px,
    529px 393px
  ); */
}

.cta-crm {
  background: linear-gradient(90.31deg, #2649c0 24.55%, #152b74 99.77%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home.scroller__wrapper {
    --scrolling-gallery-item-duration: 11s;
    --scrolling-gallery-items-visible: 3;
    --scrolling-gallery-items-total: 10;
    margin-top: 2.25em;
    overflow: hidden;
    will-change: transform;
  }
  .solutions.scroller__wrapper {
    --scrolling-gallery-item-duration: 7s;
    --scrolling-gallery-items-visible: 1.3;
    --scrolling-gallery-items-total: 5;
    margin-top: 2.25em;
    overflow: hidden;
    will-change: transform;
  }
  .hardware.scroller__wrapper {
    --scrolling-gallery-item-duration: 11s;
    --scrolling-gallery-items-visible: 3;
    --scrolling-gallery-items-total: 6;
    margin-top: 2.25em;
    overflow: hidden;
    will-change: transform;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home.scroller__wrapper {
    --scrolling-gallery-item-duration: 14s;
    --scrolling-gallery-items-visible: 6;
    --scrolling-gallery-items-total: 10;
    margin-top: 2.25em;
    overflow: hidden;
    will-change: transform;
  }
  .solutions.scroller__wrapper {
    --scrolling-gallery-item-duration: 14s;
    --scrolling-gallery-items-visible: 5;
    --scrolling-gallery-items-total: 5;
    margin-top: 2.25em;
    overflow: hidden;
    will-change: transform;
  }
  .hardware.scroller__wrapper {
    --scrolling-gallery-item-duration: 14s;
    --scrolling-gallery-items-visible: 6;
    --scrolling-gallery-items-total: 6;
    margin-top: 2.25em;
    overflow: hidden;
    will-change: transform;
  }
}
